
[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "steam-multiplayer-peer/steamworks-sdk"]
	path = steam-multiplayer-peer/steamworks-sdk
	url = git@github.com:Vetche-Studio/steamworks-sdk.git
